
=== SUPER ADMIN CREDENTIALS ===
Email: superadmin@crm.com
Password: 12345678

=== BCRYPT HASH ===
$2b$10$uAd1LTsDborwaWcxeDYD0eI6oTSJ8gAqkbi2IYPGij0K/bKcH640m

=== SQL TO CREATE SUPER ADMIN ===

INSERT INTO users (
    company_id,
    username,
    email,
    password,
    team_id,
    role_id,
    is_company_admin
) VALUES (
    NULL,
    'superadmin',
    'superadmin@crm.com',
    '$2b$10$uAd1LTsDborwaWcxeDYD0eI6oTSJ8gAqkbi2IYPGij0K/bKcH640m',
    NULL,
    (SELECT id FROM roles WHERE role_name = 'super_admin'),
    FALSE
);
        

=== COPY THE SQL ABOVE AND RUN IT IN YOUR DATABASE ===

